
head
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	meta(name="description" content="Tienda de productos de belleza localizada en Cancún, Quintana Roo. Buenos precios con más de 30 años de experiencia estando en la rama del cuidado del cabello")
	link(id="pageIcon" rel="shortcut icon" href="./assets/images/page-icon.png")
	title Rizo's Shop - Productos de belleza